---
x-airflow-common:
  &airflow-common
  image: my-airflow:3.0.6
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__CORE__AUTH_MANAGER: airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://sergio:123@postgres:5432/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://sergio:123@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: 32GTZPSOo8cBDlsfiD31aq1C-DW6EqqLs-TVa55gq9Q=
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'true'
    AIRFLOW__CORE__EXECUTION_API_SERVER_URL: 'http://airflow-apiserver:8080/execution/'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.default'
    AIRFLOW__API__JWT_SECRET: 'mi_clave_secreta_super_segura'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-}
    AIRFLOW_CONFIG: '/opt/airflow/config/airflow.cfg'
  volumes:
    - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
    - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
    - ${AIRFLOW_PROJ_DIR:-.}/config:/opt/airflow/config
    - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
    - ./pyspark_instancia_pruebas:/opt/airflow/pyspark_instancia_pruebas
    - ./API:/opt/airflow/API
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:13
    networks:
      - airflow-spark
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust # Permite conexiones sin contraseña desde la red de Docker
      POSTGRES_USER: sergio
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: airflow
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    ports:
      - "5433:5432" # Expone el puerto 5432 del contenedor al puerto 5433 de tu máquina
    restart: always

  redis:
    image: redis:7.2-bookworm
    networks:
      - airflow-spark
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 30s
    restart: always

  airflow-apiserver:
    <<: *airflow-common
    command: api-server
    networks:
      - airflow-spark
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/api/v2/version"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    networks:
      - airflow-spark
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-dag-processor:
    <<: *airflow-common
    command: dag-processor
    networks:
      - airflow-spark
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    networks:
      - airflow-spark
    environment:
      <<: *airflow-common-env
      DUMB_INIT_SETSID: "0"
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-apiserver:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    networks:
      - airflow-spark
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    networks:
      - airflow-spark
    command:
      - -c
      - |
        echo "Inicializando Airflow DB..."
        airflow db migrate || exit 1

        echo "Creando usuario admin..."
        airflow users create \
          --username ${_AIRFLOW_WWW_USER_USERNAME:-airflow} \
          --password ${_AIRFLOW_WWW_USER_PASSWORD:-airflow} \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com || true

        echo "Inicialización completada."
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME:-airflow}
      _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD:-airflow}
      _PIP_ADDITIONAL_REQUIREMENTS: ''
    user: "0:0"
    depends_on:
      <<: *airflow-common-depends-on

  airflow-cli:
    <<: *airflow-common
    profiles:
      - debug
    environment:
      <<: *airflow-common-env
      CONNECTION_CHECK_MAX_COUNT: "0"
    networks:
      - airflow-spark
    command:
      - bash
      - -c
      - airflow
    depends_on:
      <<: *airflow-common-depends-on

  # --------------------------
  # Kafka + Zookeeper
  # --------------------------

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - airflow-spark

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    networks:
      - airflow-spark
    ports:
      - "9092:9092"
    restart: always
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "cliente:1:1,sales:1:1,inventory_updates:1:1,inventory_entries:1:1,inventory_out:1:1,inventory_adjustments:1:1,inventory_new_products:1:1"
    depends_on:
      - zookeeper

  # --------------------------
  # RabbitMQ
  # --------------------------
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5674:5672"     # Puerto de mensajería AMQP (5674 en tu máquina, 5672 dentro de Docker)
      - "15674:15672"   # Panel web de administración
    environment:
      RABBITMQ_MANAGEMENT_LOAD_DEFINITIONS: /etc/rabbitmq/definitions.json
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbitmq_management load_definitions \"/etc/rabbitmq/definitions.json\""
    volumes:
      # La ruta ahora es relativa a la raíz del proyecto, donde está este docker-compose.
      - ./rabbitmq/rabbit_definitions.json:/etc/rabbitmq/definitions.json:ro
    networks:
      - airflow-spark
    restart: always

  # --------------------------
  # Inventory API (Backend)
  # --------------------------
  inventory_api:
    # La ruta de construcción ahora es relativa a la raíz del proyecto.
    build: ./inventory_api
    container_name: inventory_api
    ports:
      - "9000:9000"
    networks:
      - airflow-spark
    environment:
      KAFKA_BROKER: kafka:9092
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: airflow
      POSTGRES_USER: sergio
      POSTGRES_PASSWORD: 123
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672 # Se comunica por el puerto INTERNO de la red Docker
    depends_on:
      - postgres
      - rabbitmq
      - kafka

  frontend:
    build: ./Front_react
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:9000
      REACT_APP_WEBSOCKET_URL: ws://localhost:9000/ws/updates
    networks:
      - airflow-spark
    depends_on:
      - inventory_api

volumes:
  postgres-db-volume: {}

networks:
  airflow-spark: {}
