version: "3.9"

services:
  inventory_api:
    build: .
    container_name: inventory_api
    ports:
      - "9000:9000"
    networks:
      - airflow-spark
    environment:
      # Configuración de conexión a la base de datos externa
      POSTGRES_HOST: postgres   # nombre del contenedor de postgres que ya está levantado
      POSTGRES_PORT: 5432
      POSTGRES_DB: airflow
      POSTGRES_USER: sergio
      POSTGRES_PASSWORD: 123
      KAFKA_BROKER: kafka:9092

networks:
  airflow-spark:
    external: true
